* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img {
    margin: 0;
    padding: 0;
    border: 0; }
  
  html {
    background-color: #FDFDFD;
    font-size: 16px;
    line-height: 1.5;
    color: #222222; }
    @media (min-width: 940px) {
      html {
        font-size: 18px; } }
  
  a {
    color: #013a63;
    text-decoration: none;
    font-weight: 700; }
    a:hover, a:focus {
      color: #013a63;
      text-decoration: underline; }
  
  /*- Typography -*/
  body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em; }
  
  /*- Typography for medium and small screen, based on 16px font-size -*/
  p, ul, ol {
    font-size: 1em;
    /* 16px */
    line-height: 1.5em;
    /* 24px/16px */
    margin-bottom: 1.5em;
    /* 24px/16px */ }
  
  h1 {
    font-size: 2.25em;
    /* 36px/16px */
    line-height: 1.3333em;
    /* 48px/36px */
    padding: 0.33335em 0;
    /* 12px/36px * 2 (Use padding instead of margin to maintain proximity with paragraph) */ }
  
  h2 {
    font-size: 1.5em;
    /* 24px/16px */
    line-height: 1em;
    /* 24px/24px */
    padding: 1em 0 0 0;
    /* 12px/24px * 2, only top (Use padding instead of margin to maintain proximity with paragwithph) */ }
  
  h3, h4, h5, h6 {
    font-size: 1.125em;
    /* 18px/16px */
    line-height: 1.3334em;
    /* 24px/18px */
    padding: 0.66667em 0;
    /* 12px/18px * 2 (Use padding instead of margin to maintain proximity with paragraph) */ }
  
  blockquote {
    font-style: italic;
    margin: 1.5em;
    /* 24px/18px */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 0 1.5em;
    /* 24px/18px */ }
    blockquote p, blockquote ul, blockquote ol {
      padding: 1.5em 0;
      /* 24px/18px */ }
  
  /*- Typography for big screen, based on 18px font-size -*/
  @media (min-width: 940px) {
    p, ul, ol {
      font-size: 1em;
      /* 18px */
      line-height: 1.3334em;
      /* 24px/18px */
      margin-bottom: 1.3334em;
      /* 24px/18px */ }
  
    h1 {
      font-size: 2.6667em;
      /* 48px/18px */
      line-height: 1em;
      /* 48px/48px */
      padding: 0.25em 0;
      /* 12px/48px * 2 (Use padding instead of margin to maintain proximity with paragraph) */ }
  
    h2 {
      font-size: 2em;
      /* 36px/18px */
      line-height: 1.3334em;
      /* 48px/36px */
      padding: 0.66667em 0 0 0;
      /* 12px/36px * 2, pnly top (Use padding instead of margin to maintain proximity with paragraph) */ }
  
    h3, h4, h5, h6 {
      font-size: 1.3334em;
      /* 24px/18px */
      line-height: 1em;
      /* 24px/24px */
      padding: 0.5em 0;
      /* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */ }
  
    blockquote {
      font-style: italic;
      margin: 1.3334em;
      /* 24px/18px */
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background-color: #f0f0f0;
      padding: 0 1.33334em;
      /* 24px/18px */ }
      blockquote p, blockquote ul, blockquote ol {
        padding: 1.33334em 0;
        /* 24px/18px */ } }
  /* -- General Layout -- */
  /* Required for footer to stick to the bottom */
  html, body {
    height: 100% !important; }
  
  /* Navigation */
  #nav a, #nav-left a {
    display: block;
    color: #FDFDFD;
    padding: 0.33334em 0;
    font-size: 1.5em;
    font-weight: 400; }
    @media (min-width: 940px) {
      #nav a, #nav-left a {
        font-size: 1em; } }
    #nav a:hover, #nav-left a:hover {
      background-color: #01497c; }
  #nav span, #nav-left span {
    font-weight: 200; }
  
  #nav {
    width: 14rem;
    position: fixed;
    background-color: #013a63;
    top: 0;
    bottom: 0;
    right: -14rem;
    color: #FDFDFD;
    opacity: 0.95;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 1;
    padding: 72px 0;
    text-align: center; }
  
  #nav-left {
    width: 14rem;
    position: fixed;
    background-color: #013a63;
    top: 0;
    bottom: 0;
    left: -14rem;
    color: #FDFDFD;
    opacity: 0.95;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 1;
    padding: 72px 0;
    text-align: center; }
  
  /* Toggle class to open menu */
  #nav.menu-open {
    -webkit-transform: translateX(-14rem);
    -moz-transform: translateX(-14rem);
    -ms-transform: translateX(-14rem);
    transform: translateX(-14rem);
    width: 100%; }
    @media (min-width: 940px) {
      #nav.menu-open {
        width: 30%; } }
  
  #nav-left.menu-open-left {
    -webkit-transform: translateX(14rem);
    -moz-transform: translateX(14rem);
    -ms-transform: translateX(14rem);
    transform: translateX(14rem);
    width: 100%; }
    @media (min-width: 940px) {
      #nav-left.menu-open-left {
        width: 30%; } }
  
  /* Separator after menu */
  #nav-list:after {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: #FDFDFD; }
  
  /* Icon menu */
  #nav-menu {
    display: block;
    position: fixed;
    top: 35px;
    right: 25px;
    z-index: 10;
    height: 24px; }
  
  #nav-menu-left {
    display: block;
    position: fixed;
    top: 35px;
    left: 25px;
    z-index: 10;
    height: 24px; }
  
  #menu {
    height: 4px;
    width: 1.5em;
    background-color: #7b7b7b;
    margin-top: 8px; }
    #menu:after, #menu:before {
      content: "";
      display: block;
      position: relative;
      height: 4px;
      width: 1.5em;
      background-color: #7b7b7b;
      transition: all 0.3s ease-in; }
    #menu:before {
      top: -8px; }
    #menu:after {
      top: 4px; }
    #menu.btn-close {
      background: none; }
    #menu.btn-close:before {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: #FDFDFD; }
    #menu.btn-close:after {
      top: -4px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #FDFDFD; }
  
  /* Main content */
  .fixed {
    position: fixed;
    width: 100%; }
    @media (min-width: 940px) {
      .fixed {
        position: static; } }
  
  #container {
    margin: 0 auto;
    max-width: 730px;
    padding: 0 1.5rem; }
  
  #header {
    text-align: center;
    padding: 24px 0;
    position: relative; }
    #header a {
      text-decoration: none;
      color: #013a63;
      display: inline-block; }
    #header img {
      max-height: 72px;
      margin: 0 auto;
      display: block; }
    #header h1 {
      font-family: 'Signika', sans-serif;
      font-weight: 600; }
    #header:after {
      display: block;
      content: '';
      width: 5rem;
      height: 1px;
      margin: 23px auto;
      background-color: #d5d5d5; }
  
  /* Posts */
  #posts li {
    list-style-type: none; }
  
  #post-page {
    margin-bottom: 1.5em; }
    @media (min-width: 940px) {
      #post-page {
        margin-bottom: 1.3334em; } }
  
  .post + .post:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: #d5d5d5; }
  
  .by-line {
    display: block;
    color: #626262;
    line-height: 1.5em;
    /* 24px/16px */
    margin-bottom: 1.5em;
    /* 24px/16px */
    font-weight: 200; }
    @media (min-width: 940px) {
      .by-line {
        display: block;
        color: #626262;
        line-height: 1.3334em;
        /* 24px/18px */
        margin-bottom: 1.3334em;
        /* 24px/18px */
        font-weight: 200; } }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  
  img[title="Emerald"] {
    box-shadow: 0 2px 6px #ddd; }
  
  code {
    color: #7b7b7b;
    background-color: white; }
  
  /* Set the vertical rhythm (and padding-left) for lists inside post content */
  .content ul, .content ol {
    line-height: 1.5em;
    /* 24px/16px */
    padding-left: 1.5em; }
    @media (min-width: 940px) {
      .content ul, .content ol {
        line-height: 1.33334em;
        /* 24px/18px */ } }
  
  /* Pages */
  #page ul, #page ol {
    padding-left: 1.5em; }
  
  /* Paginator */
  .pagination {
    text-align: center;
    margin: 2.666668em; }
    .pagination span {
      background-color: #f0f0f0;
      color: #222222; }
    .pagination a:hover {
      background-color: #01497c; }
  
  .page-item {
    background-color: #013a63;
    color: #FDFDFD;
    padding: 4px 8px;
    font-weight: 400;
    padding: 0.5em 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  
  /* Footer */
  footer {
    background-color: #013a63;
    color: #FDFDFD;
    text-align: center;
    padding: 0.6667em 0; 
  }
  
  .footer {
    padding: 6px 0;
    background-color: #013a63;
    color: #FDFDFD;
    text-align: center;
    position: absolute;
    width: 100%;
    /* bottom: 0;  */
  }

  html, body {
    height: 100% !important; }
  
  .wrapper {
    min-height: 100%;
    margin-bottom: -30px;
  }

  .push {
    height: 30px;
  }