<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gong</title>
    <link
        href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic%7CSignika:700,300,400,600'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% block content %}

    {% endblock %}


    <footer class="footer"><span>Made by <a style="color: #FDFDFD" href="http://github.com/elgrove">elgrove</a> with
            inspiration from <a style="color: #008A3C" href="https://github.com/KingFelix/emerald">emerald</a></span>
    </footer>

</body>

</html>