{% extends 'base.html' %}

{% block content %}

<header id="header">
    <a href="/">
        <h1>Gong</h1>
    </a>
</header>


<div id="container">

    <main>

        <ul id="posts">
            {% for post in posts %}
            <li class="post">
                <h2><a href="/small-text">{{ post.title }}</a></h2>
                <time datetime="2019-03-18T00:00:00+00:00" class="by-line">{{ post.datetime }}</time>
                <p>{{ post.content }}
                </p>
            </li>
            {% endfor %}

        </ul>
    </main>

</div>
{% endblock %}